<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer >
        
        <figure  style = "float: left">
            <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}' style = "color:black;" >
                <img src='{{absURL "images/overviewOverlay.png"}}'  > 
                <figcaption class = "caption">VOLTTRON™ Overview</figcaption>
            </a>
            <p>&nbsp;</p>
           
        </figure>
       
        <figure2 >
            <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}' style = "color:black">
                <img src= '{{absURL "images/DocumentImages/BrochureOverlay.jpg"}}' > 
                <figcaption class="caption">VOLTTRON™ Platform</figcaption>
             </a> 
        </figure2>
        
    </footer>
</section>