
<section>
    
    <h3>Related Materials</h3>
    <footer >
        
        <figure class = "SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}'>
                <img src='{{absURL "images/DocumentImages/overviewOverlay.jpg"}}'> 
                <figcaption class = "caption" >Eclipse VOLTTRON™ Overview</figcaption>
            </a>
        </figure>
       
        <figure class = "SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'>
                <img src= '{{absURL "images/DocumentImages/BrochureOverlay.jpg"}}' > 
                <figcaption class="caption">Eclipse VOLTTRON™ Platform</figcaption>
             </a> 
        </figure>
        
    </footer>
    
    <h3>Recent Videos</h3>
    <p>Check out our videos on Vimeo for the newest information on Eclipse VOLTTRON™</p>
   
    <div class="sidebar-vimeo-container">
        <iframe src="https://vimeo.com/showcase/12353980/embed2" 
                allow="autoplay; fullscreen; picture-in-picture" 
                allowfullscreen 
                frameborder="0">
        </iframe>
    </div>

    <footer>
        <a href="https://vimeo.com/showcase/12353980" target="_blank" rel="noopener noreferrer" class="button">Watch on Vimeo</a>
    </footer>
</section>