
<section>
    
    <h3>Related Materials</h3>
    <footer >
        
        <figure class = "SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}'>
                <img src='{{absURL "images/DocumentImages/overviewOverlay.jpg"}}'> 
                <figcaption class = "caption" >Eclipse VOLTTRON Overview</figcaption>
            </a>
        </figure>
       
        <figure class = "SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'>
                <img src= '{{absURL "images/DocumentImages/BrochureOverlay.jpg"}}' > 
                <figcaption class="caption">Eclipse VOLTTRON Platform</figcaption>
             </a> 
        </figure>
        
    </footer>
    
    <h3>Recent Videos</h3>
    <p>Check out the playlist below for the newest information on Eclipse VOLTTRON</p>
   
            <iframe style="width:23vw; height:15vw;" src="https://www.youtube.com/embed/videoseries?si=bEIvNPsxq4QXl9js&amp;list=PLcXiOt7TUA7OfnOlFhZP8GDSmDLncn1Af" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
 

        
    
     
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>