
<section>
    
    <h3>Related Materials</h3>
    <footer >
        
        <figure class = "SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}'>
                <img src='{{absURL "images/DocumentImages/overviewOverlay.jpg"}}'> 
                <figcaption class = "caption" >Eclipse VOLTTRON Overview</figcaption>
            </a>
        </figure>
       
        <figure class = "SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'>
                <img src= '{{absURL "images/DocumentImages/BrochureOverlay.jpg"}}' > 
                <figcaption class="caption">Eclipse VOLTTRON Platform</figcaption>
             </a> 
        </figure>
        
    </footer>
    
    <h3>Recent Videos</h3>
    <p>Check out the playlist below for the newest information on Eclipse VOLTTRON</p>
   
    <figure class="PlaylistFig" style="width: 23vw; height: 15vw;" width="560" height="315" >
        <a href="https://www.youtube.com/playlist?list=PLb2e9HwqRmUb6UHOwRuG9ve9XWkpYZTgu" target="_blank" rel="noopener noreferrer">
            <img style="width: 23vw; height: 15vw;" src="https://i.ytimg.com/vi/F1cpeu3FK7s/maxresdefault.jpg">
        </a>
    </figure>

        
    
     
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>