<section id="AccomplishmentsRight">
    <figure class="AccomplishmentFig" data-correspond="giving-control-to-smbs">
        <img src='{{absURL "images/AccomplishmentsImages/smb.png"}}' alt="SMB Image">
    </figure>

    <figure class="AccomplishmentFig" data-correspond="getting-intelligent-with-the-grid">
        <img src='{{absURL "images/AccomplishmentsImages/ILC.png"}}' >
    </figure>

    <figure class="AccomplishmentFig" data-correspond="supporting-connected-communities">
        <img src='{{absURL "images/AccomplishmentsImages/supporting_connected_communites_brandon_jacoby.jpg"}}' >
    </figure>

    <figure class="AccomplishmentFig" data-correspond="creating-a-buildings-living-laboratory" style="max-width: 90%;">
        <img src='{{absURL "images/AccomplishmentsImages/campus_2.png"}}' >
    </figure>

    <figure class="AccomplishmentFig" data-correspond="a-nameconnecting-home-appliancesaconnected-home-appliances" style="max-width: 90%;">
        <img src='{{absURL "images/AccomplishmentsImages/EED_1787_FIG_HomesGraphicRev_v7_1600x1200 (1).png"}}' alt="Homes Graphic">
    </figure>

</section>