<section>
    <figure class="SidebarFig">
            <img src='{{absURL "images/AccomplishmentsImages/smb.png"}}' >
    </figure>

    <figure class="SidebarFig">
        <img src='{{absURL "images/AccomplishmentsImages/ILC.png"}}' >
    </figure>

    <figure class="SidebarFig" style="max-width: 90%;">
        <img src='{{absURL "images/AccomplishmentsImages/EED_1787_FIG_HomesGraphicRev_v7_1600x1200 (1).png"}}' >
    </figure>

    <figure class="SidebarFig" style="max-width: 90%;">
        <img src='{{absURL "images/AccomplishmentsImages/campus_2.png"}}' >
    </figure>
</section>