<section id="AccomplishmentsRight">
    <figure class="AccomplishmentFig" data-correspond="giving-control-to-smbs">
        <img src='{{absURL "images/AccomplishmentsImages/smb.png"}}' alt="SMB Image">
    </figure>

    <figure class="AccomplishmentFig" data-correspond="getting-intelligent-with-the-grid">
        <img src='{{absURL "images/AccomplishmentsImages/ILC.png"}}' >
    </figure>

    <figure class="AccomplishmentFig" data-correspond="supporting-connected-communities">
        <img src='{{absURL "images/AccomplishmentsImages/supporting_connected_communites_brandon_jacoby.jpg"}}' >
    </figure>

    <figure class="AccomplishmentFig" data-correspond="enabling-efficiency-in-dc">
        <a href="https://www.pnnl.gov/sites/default/files/media/file/Inside%20a%20Field%20Validation%20Study%20of%20Energy%20Efficiency%20and%20Grid%20Services%20in%20Commercial%20Buildings.pdf" target="_blank">
            <img src='{{absURL "images/AccomplishmentsImages/DC_Buildings.jpg"}}' >
        </a>
    </figure>

    <figure class="AccomplishmentFig" data-correspond="creating-a-buildings-living-laboratory">
        <img src='{{absURL "images/AccomplishmentsImages/campus_2.png"}}' >
    </figure>

    <figure class="AccomplishmentFig" data-correspond="dispatching-optimization-and-savings">
        <img  src='{{absURL "images/AccomplishmentsImages/Web_Size_Power_2.jpg"}}' >
    </figure> 

    <figure class="AccomplishmentFig" data-correspond="a-nameconnecting-home-appliancesaconnected-home-appliances">
        <img src='{{absURL "images/AccomplishmentsImages/EED_1787_FIG_HomesGraphicRev_v7_1600x1200 (1).png"}}' alt="Homes Graphic">
    </figure>

</section>