<section>
    <h3>Accomplishments</h3>
    <p >
        <b>Giving Control to SMBs -</b> 
        Eclipse VOLTTRON is a central component in an efficiency and grid services solution for a key,
         underserved segment of the nation’s commercial buildings sector: small- and medium-sized buildings (SMBs). 
         <a href="/eclipse-volttron-fork/archives/accomplishments/#giving-control-to-smbs">Read More.</a>

    </p>
    <p>
        <b>Supporting Connected Communities -</b>
        Researchers at Pacific Northwest National Laboratory (PNNL) are partnering on 
        two Department of Energy-funded Connected Communities projects that got 
        underway in 2024 to make homes and buildings more efficient and connected to 
        the power grid.  
        <a href="/eclipse-volttron-fork/archives/accomplishments/#supporting-connected-communities">Read More.</a>
    </p>
    <p >
        <b>Enabling Efficiency in D.C. -</b> 
        Pacific Northwest National Laboratory (PNNL) partnered with an energy services firm to 
        deploy Eclipse VOLTTRON™—along with applications that improve building operations and 
        efficiency—at a school and office building in Washington, D.C. 
         <a href="/eclipse-volttron-fork/archives/accomplishments/#enabling-efficiency-in-dc">Read More.</a>

    </p>
    <p>
        <b>Creating a Buildings Living Laboratory</b>
        Pacific Northwest National Laboratory (PNNL) used Eclipse VOLTTRON to connect 
        multiple PNNL campus buildings – both for energy management and research purposes.  
        <a href="/eclipse-volttron-fork/archives/accomplishments/#creating-a-buildings-living-laboratory">Read More.</a>
    </p>
    <p >
        <b>Dispatching Optimization and Savings -</b> 
        A Pacific Northwest National Laboratory (PNNL) technology that employs Eclipse VOLTTRON 
        successfully enabled economic dispatch during a multi-month field test in New York in 
        2019. 
         <a href="/eclipse-volttron-fork/archives/accomplishments/#dispatching-optimization-and-savings">Read More.</a>

    </p>

    <footer>
        <a href="#" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>
