<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}'  >
            <img src='{{absURL "images/DocumentImages/overviewOverlay.png"}}'  > 
            <figcaption class = "caption">VOLTTRON™ Overview</figcaption>
        </a>
    </figure>
   

    <figure2 class="SidebarFig">
        <a href= '{{absURL "Documents/VOLTTRON_buildings_2017.pdf"}}' >
            <img src='{{absURL "images/DocumentImages/Build1.png" }}'  > 
            <figcaption class="caption">VOLTTRON™ Buildings</figcaption>
        </a> 

    </figure2>


    <figure2  class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_security_2017.pdf"}}' >
            <img src='{{absURL "images/MarketsImages/SecureTool.png"}}' > 
            <figcaption class="caption">VOLTTRON™ Secure Tool</figcaption>
        </a> 
    </figure2>
  
    <figure2  class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Tech_to_Market.pdf"}}' >
            <img src='{{absURL  "images/MarketsImages/TechToMarketImage.png"}}' > 
            <figcaption class="caption">VOLTTRON™ Tech To Market</figcaption>
        </a> 
    </figure2>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>
