



<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Accomplishments</h3>
    <p>
        <b>Supporting Connected Communities -</b>
        Researchers at Pacific Northwest National Laboratory (PNNL) are partnering on 
        two Department of Energy-funded Connected Communities projects that got 
        underway in 2024 to make homes and buildings more efficient and connected to 
        the power grid.  
        <a href="/archives/accomplishments">Read More</a>
    </p>

    <h3>Related Materials</h3>

    <figure  class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'  >
            <img src='{{absURL "images/DocumentImages/overviewOverlay.png"}}'  > 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>

        
    </footer>
</section>
