



<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Accomplishments</h3>
    <p>In a PNNL-developed technology for homes, Eclipse VOLTTRON and associated algorithms from the Connected Homes project effectively transform existing home heating and cooling units and hot water heaters into smart appliances. 
        <a href="/archives/accomplishments">Read More</a></p>

    <h3>Related Materials</h3>

    <figure  class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'  >
            <img src='{{absURL "images/DocumentImages/overviewOverlay.png"}}'  > 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>

        
    </footer>
</section>
