<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Accomplishments</h3>
    <p>
        <b>Supporting Connected Communities -</b>
        Researchers at Pacific Northwest National Laboratory (PNNL) are partnering on 
        two Department of Energy-funded Connected Communities projects that got 
        underway in 2024 to make homes and buildings more efficient and connected to 
        the power grid.  
        <a href="/eclipse-volttron-fork/archives/accomplishments/#supporting-connected-communities">Read More.</a>
    </p>

    <p>
        <b>"Connecting" Home Appliances -</b>
        Eclipse VOLTTRON and associated algorithms were applied in a project that 
        effectively transformed existing home heating and cooling units and hot water 
        heaters into smart appliances that can coordinate with the grid.   
        <a href="/eclipse-volttron-fork/archives/accomplishments/#connecting-home-appliances">Read More.</a>
    </p>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>
