<section>
    <h3>Tutorial & Office Hours Videos</h3>
    <p>For more information, check out our videos and recordings on Vimeo!</p>
    <div class="sidebar-vimeo-container">
        <iframe src="https://vimeo.com/showcase/12353980/embed2" 
                allow="autoplay; fullscreen; picture-in-picture" 
                allowfullscreen 
                frameborder="0">
        </iframe>
    </div>
    <footer>
        <a href="https://vimeo.com/showcase/12353980" target="_blank" rel="noopener noreferrer" class="button">Watch on Vimeo</a>
    </footer>
</section>