<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure  class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}' >
            <img src='{{absURL "images/DocumentImages/overviewOverlay.jpg"}}'> 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>

   
   
    <figure2  class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Tech_to_Market.pdf"}}'  >
            <img src='{{absURL "images/MarketsImages/TechToMarketImage.png"}}'> 
            <figcaption class="caption">Eclipse VOLTTRON Tech To Market</figcaption>
        </a> 
    </figure2>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>