<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Tutorial Videos</h3>
    <p>For more information, check out the latest Tutorial Videos below!
   </p>
   <figure class="PlaylistFig" style="width: 23vw; height: 15vw;" width="560" height="315" >
    <a href="https://www.youtube.com/playlist?list=PLdW5J6qhxuwCmjZ9PYjWd-6ABARXVk8t3" target="_blank" rel="noopener noreferrer">
        <img style="width: 23vw; height: 15vw;" src="https://i.ytimg.com/vi/bPE_-6nHuSY/maxresdefault.jpg">
    </a>
</figure>
    <footer>
</ul>       

 
        
    </footer>
</section>
<section>
   
    <h3></h3>
   

    <ul class="links">
        <h3>Office Hours</h3>
        <p>For more information, check out the latest Office Hours below!</p>
    
        <figure class="PlaylistFig" style="width: 23vw; height: 15vw;" width="560" height="315" >
            <a href="https://www.youtube.com/playlist?list=PLdW5J6qhxuwBOMTG64IH4vSt2SXrziHk8" target="_blank" rel="noopener noreferrer">
                <img style="width: 23vw; height: 15vw;" src="https://i.ytimg.com/vi/F1cpeu3FK7s/maxresdefault.jpg">
            </a>
        </figure>
        <footer>


    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>