<section>

    <h3>Related Materials</h3>

    <figure class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}'  style = "  color:black">
            <img src='{{absURL "images/DocumentImages/overviewOverlay.jpg"}}' style = "height: 250px; width: 200px;" > 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>

        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>