<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Accomplishments</h3>

<p>
    <b>Getting Intelligent with the Grid -</b>
    The Pacific Northwest National Laboratory (PNNL)-developed Intelligent Load Control (ILC) technology is 
    delivered to buildings via the Eclipse VOLTTRON platform. ILC coordinates operation of building devices, 
    such as heating and cooling units, to manage building energy use in coordination with power grid needs. 
    <a href="/eclipse-volttron-fork/archives/accomplishments/#getting-intelligent-with-the-grid">Read More</a>
</p>

    <footer>
        <a href="#" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>
