<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf"}}'  >
            <img src='{{absURL "images/DocumentImages/overviewOverlay.png"}}'  > 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>


    <figure2 class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_buildings_2017.pdf"}}' >
            <img src='{{absURL "images/DocumentImages/BuildingspdfImage.png" }}' > 
            <figcaption class="caption">Eclipse VOLTTRON Buildings</figcaption>
        </a> 

    </figure2>


    <figure2 class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_gridservices_2017.pdf" }}' >
            <img src='{{absURL "images/DocumentImages/GridImage.png" }}' > 
            <figcaption class="caption">Eclipse VOLTTRON Grid Services</figcaption>
        </a> 
    </figure2>
   

        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>