<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>

    <figure class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Efficient_Grid_2017.pdf" }}' >
            <img src='{{absURL "images/DocumentImages/overviewOverlay.jpg" }}'> 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>
    

    <figure class="SidebarFig">
        <a href="https://eclipse-volttron.readthedocs.io/"  >
            <img src='{{absURL "images/DocumentImages/VOLTTRON_Documentation.jpg" }}' > 
            <figcaption class = "caption">Eclipse VOLTTRON User Guide</figcaption>
        </a>
    </figure>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>