<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
          
        <figure class="SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_buildings_2017.pdf" }}'  >
                <img src='{{absURL "images/DocumentImages/overviewOverlay.png" }}'  > 
                <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
               <br>
            </a>
        </figure>
        <figure2 class="SidebarFig">
            <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'  >
                <img src='{{absURL "images/DocumentImages/BrochureOverlay.jpg"}}' > 
                <figcaption class="caption">Eclipse VOLTTRON Platform</figcaption>
                <br>
            </a> 
        </figure2>
        

    <figure class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_gridservices_2017.pdf"}}' >
            <img src='{{absURL "images/DocumentImages/GridImage.png"}}'  > 
            <figcaption class = "caption">Eclipse VOLTTRON Grid Services</figcaption>
            <br>
        </a>
    </figure>
    <figure class="SidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_security_2017.pdf"}}'  >
            <img src='{{absURL "images/DocumentImages/SecureImage.png"}}'  > 
            <figcaption class = "caption">Eclipse VOLTTRON Security</figcaption>
            <br>
        </a>
    </figure> 
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>