<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>

    <figure class="sidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_Brochure_V11_WEB.pdf"}}'>
            <img src='{{absURL "images/DocumentImages/overviewOverlay.png"}}' > 
            <figcaption class = "caption">Eclipse VOLTTRON Overview</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>

        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>