<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure class="sidebarFig">
        <a href='{{absURL "Documents/VOLTTRON_security_2017.pdf"}}' >
            <img src='{{absURL "images/DocumentImages/SecureImage.png"}}' > 
            <figcaption class = "caption">VOLTTRON™ Security</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>