.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    border-bottom-style: none;
    -webkit-transition-property9: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 
    
    /*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
    transform: scale(1.1); 
    
}
.figConfig{
  display: inline-table;
  max-width: 20%;
  margin-right: 50px;
  margin-bottom: 30px;

  p {
   font-size: medium;
   margin-top: -15px;
   line-height: 100%;
   max-width:80%;
   text-align: center;
  }


}

.figConfig h4 {
  line-height: 100%;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
 text-align: center;
  img{
    width: 100vw;
    height: 30vw;
  }

  
}



/* Caption text */
.text {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  font-size: 1.8vw;
  line-height: 2.6vw;
  color:white;
  text-shadow: 2px 2px 0px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.active {
  background-color:white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Publications */
.figConfigpdf{
    display: inline-table;
    max-width: 2vw;
    margin-right: 4vw;
    h4 {
      font-size: 1vw;
      font-size: 1vw; 
      line-height: 1.3vw; 
      margin-bottom: 0.5vw;
      text-align:left;
      max-width: 100%;
      color:black;
  
       
     }
 
}
.figConfigpdf figcaption{
  position:relative;
  p {
    font-size: 1vw; 
    line-height: 1.3vw; 
    margin-bottom: 3vw;
    text-align:left;
    max-width: 100%;
    color:black;
   }

}


.figConfig{
    display: inline-table;
    max-width: 20%;
    margin-right: 50px;
    p{
      font-size: 1vw; 
      line-height: 1.3vw; 
      margin-bottom: 2vw;
      text-align:left;
      max-width: 100%;
      color:black;
    }
}

.figConfig img {
    max-width: 20vw;
    min-width: 20vw;
}


/*For sidebar Info*/
.SidebarFig{
 

  .caption{
    font-size: 0.9vw; 
    line-height: 1.3vw; 
    margin-bottom: 2vw;
    color:black;
  }


}

.SidebarFig h4{
  font-size: 1vw;
}

.SidebarVideo{
  width:30vw;
  height:10vw;


}




#cta {
  text-align: center;
  padding: 3.5em 0;

  header {
      h2 {
          display: inline-block;
          vertical-align: left;
          margin: 0;
      }
      p{
        color:white;
        text-align: right;
        margin-top: -8%;
        max-width:100%;
        font-size: 1.5vw;
      }
      .button { 
       
          vertical-align: left;
          margin-left: 1em;
      }
    
   
  }
}
a.imageLink{
  position:relative;
  right: 35vw;
  top: -1vw;
  z-index: 1;
  max-width: 12vw;

}
#nav {
  cursor: default;
  background-color: black;
  @include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3))', 'url("images/bg01.png")'));
  padding: 0;

  &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0.75em;
      background-color: _palette(accent, bg);
      background-image: url("images/bg01.png");
  }

  > ul {
      margin: 0;

      > li {
          position: relative;
          display: inline-block;
          margin-left: 1em;

          a {
              color: _palette(obscure, fg);
              text-decoration: none;
              border: 0;
              display: block;
              padding: 1.5em 0.5em 1.35em 0.5em;
          }

          &:first-child {
              margin-left: 0;
          }

          &:hover {
              a {
                  color: _palette(accent, fg);
              }
          }

          &.current {
              font-weight: 600;

              &:before {
                  @include vendor('transform', 'rotateZ(45deg)');
                  width: 0.75em;
                  height: 0.75em;
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: -0.5em;
                  left: 50%;
                  margin-left: -0.375em;
                  background-color: _palette(accent, bg);
                  background-image: url("images/bg01.png");
              }

              a {
                  color: _palette(accent, fg);
                  
              }
          }

          &.active {
              a {
                  color: white;
                  background-color: black;
              }

              &.current {
                  &:before {
                    background-color: black;
                      opacity: 0;
                  }
                  
              }
              &.opener{
                  background-color: black;
              }
          }

          > ul {
              display: none;
              background-color: black;

          }
      }
  }
}

header {
  p {
      color: _palette(fg-light);
      font-size: 1em;
      position: relative;
      margin-top: -1.25em;
      margin-bottom: 0.25em;
      font-style:italic;
  }

  &.major {
      text-align: center;
      margin: 0 0 2em 0;

      h2 {
          font-size: 2.25em;
      }

      p {
          position: relative;
          border-top: solid 1px _palette(border);
          padding: 1em 0 0 0;
          margin: 0;
          top: -1em;
          font-size: 1.5em;
          letter-spacing: -0.025em;
      }
  }
}


.PlaylistFig{
  display: inline-table;
  max-width: 30%;
  margin-bottom: 3vw;

  p{
    max-width:100%;
    font-size:1vw;
    line-height:1.2vw;
  }
  h4{
    margin-bottom:0.1vw;
  }

}