.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
   
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 
    
    /*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
    transform: scale(1.1); 
    
}

.figConfig{
    display: inline-table;
    max-width: 20%;
    margin-right: 50px;

    p {
     font-size: medium;
     margin-top: -15px;
     line-height: 100%;
    }
 
 
}

.figConfig h4 {
    line-height: 100%;
}