<div id="footer">
    <div class="container">
        <!-- Approved Eclipse Foundation logo, hotlinked from the Eclipse CDN.
             White version chosen for the dark footer background. -->
        <p style="text-align:center;">
            <a href="https://www.eclipse.org">
                <img src="https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-foundation-white.svg"
                     alt="Eclipse Foundation" style="max-width:240px;height:auto;">
            </a>
        </p>
    </div>

    <div class="copyright">
        <ul class="menu">
            <li><a href="https://www.eclipse.org">Eclipse Foundation</a>
            <li><a href="https://www.eclipse.org/legal/privacy.php">Privacy Policy</a>
            <li><a href="https://www.eclipse.org/legal/termsofuse.php">Terms of Use</a>
            <li><a href="https://www.eclipse.org/legal/compliance/">Compliance</a>
            <li><a href="https://www.eclipse.org/legal">Legal Resources</a>
        </ul>
        <ul class="menu">
            <li>Copyright &copy; {{ now.Year }} The Eclipse Foundation. All Rights Reserved.
        </ul>
    </div>
</div>
