<section id="banner" >
    

   
    
    <div class="slideshow-container">
    
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="images/splash-constelation_1.jpg" style="width:100%">
      <div class="text"><b>"In today’s data driven world, what if you had a ubiquitous communications tool that could 
        “do it all?” The VOLTTRON™ open-source software platform offers an environment where data and devices 
        connect seamlessly and securely to make decisions based on user needs and preferences."</b></div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="images/mainPhoto.jpg" style="width:100%">
      <div class="text"><b>We're working to deploy VOLTTRON™ in a big way in buildings, where it will collect and send building 
        automation system data to the cloud for further analysis in order to optimize building system operations.</b>
      <br> -Terry Herr<br>Intellimation </div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="images/Side3Image.jpg" style="width:100%">
      <div class="text"><b>The open source component of VOLTTRON™ is revolutionary; it gives many residential and small
         commercial buildings a chance to be smart, while allowing all of us to contribute to the technology.</b>
      <br> -Da-Wei Huang<br>City University of New York </div>
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    
 
     
  
</section>
