<section id="banner" >
    

   
    
    <div class="slideshow-container">
    
    <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img class="slideshow-image" src="images/mainPhoto.jpg">
      <div class="text" style="margin-left: 6vw; margin-right: 6vw; line-height: 4vw;"><b>The Eclipse VOLTTRON™ open-source software platform offers an environment where data and devices connect 
        seamlessly and securely to make decisions based on user needs and preferences
        </b>
      </div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 4</div>
      <img class="slideshow-image" src="images/splash-constelation_1.jpg">
      <div class="text">
        <b>
          <a href='{{absURL "archives/quotes/#billmaguire"}}' style="color:white; border-bottom-style: none;">
            "ACE IoT Solutions utilizes Eclipse VOLTTRON™, a cost-effective open-source platform as a key part of ACE Aerodrome, a data collection, management, and visualization platform. Utilizing ACE Aerodrome, customers acquire, process, store, and analyze data to meet their energy efficiency and building operation optimization objectives
            <span class="blue-text">...</span>"
          </a>
        </b>
        <br><br>- Bill Maguire, Co-Founder, ACE IoT Solutions
      </div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 4</div>
      <img class="slideshow-image" src="images/mainPhoto.jpg">
      <div class="text">
        <b>
          <a href='{{absURL "archives/quotes/#nancymin"}}' style="color:white; border-bottom-style: none;">
            "By integrating Eclipse VOLTTRON™, a secure, cost-effective open-source platform as a part of ecoLong’s energy management and virtual power plant solutions, ecoLong strives to build best in class enterprise-grade technology solutions
            <span class="blue-text">…</span>"
          </a>
        </b>
        <br><br>- Nancy Min, Founder, ecoLong LLC
      </div>
    </div>
    
    
    <div class="mySlides fade">
      <div class="numbertext">4 / 4</div>
      <img class="slideshow-image" src="images/Side3Image.jpg" >
      <div class="text">
        <b>
          <a href='{{absURL "archives/quotes/#joethompson"}}' style="color:white; border-bottom-style: none;">
            "Since 2021, Eclipse VOLTTRON™ has played a significant role within EPRI’s energy storage research. The open source nature of the tool paired with its enthusiastic and supportive community have allowed EPRI researchers to efficiently and affordably implement this technology within our controls
            <span class="blue-text">...</span>"
          </a>
        </b>
        <br><br> - Joe Thompson, Technical Leader, Electric Power Research Institute
      </div>
    </div>
    
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span>
      <span class="dot"></span> 
    </div>
    
 
     
  
</section>
